# API
NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1

# Auth
NEXT_PUBLIC_JWT_ACCESS_KEY=access
NEXT_PUBLIC_JWT_REFRESH_KEY=refresh

# App
NEXT_PUBLIC_APP_NAME=DEO STUDIO CRM
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Features
NEXT_PUBLIC_ENABLE_AI=true
NEXT_PUBLIC_ENABLE_MESSENGER=true
